Alerta Errores Ateneo.json
{
  "name": "Alerta Errores Ateneo",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "2f668145-f19b-409e-ae92-1e8371844590",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution:8080/message/sendText/bot-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey ",
              "value": "MiTokenSeguroYSecreto123"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "573245353147"
            },
            {
              "name": "text",
              "value": "={\n  \"number\": \"573245353147\",\n  \"text\": \"⚠️ ¡ALERTA CRÍTICA! Tu bot acaba de fallar.\\n\\n🔴 Nodo: {{ $json.execution?.lastNodeExecuted }}\\n🔴 Error: {{ $json.execution?.error?.message }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -16
      ],
      "id": "6e1c914b-bd7b-4cdf-bb7f-51f8adc12ee3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "tom.pradamd@gmail.com",
        "subject": "¡ALERTA CRÍTICA! - Tu Bot de WhatsApp ha fallado",
        "message": "=<p>¡Hola, Jefe!</p>\n\n<p>El bot principal de Ateneo acaba de sufrir un error técnico inesperado. Aquí tienes el reporte automático:</p>\n\n<p>🔴 <b>Nodo que falló:</b> {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}<br>\n🔴 <b>Motivo del error:</b> {{ $('Error Trigger').item.json.execution.error.message }}<br>\n🔴 <b>ID de Ejecución en n8n:</b> {{ $('Error Trigger').item.json.execution.id }}</p>\n\n<p>Por favor, entra a n8n para solucionarlo y atiende los mensajes de WhatsApp manualmente.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        -16
      ],
      "id": "5394dd4d-c7f2-4215-917a-296a458f3975",
      "name": "Send a message",
      "webhookId": "967a582b-29b2-4fab-9ae5-fb5a2d80af0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "5UM6OBNrblcN9QRC",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9e69f98-9468-4c73-a80e-1ecffc9d0e42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc89e935bfd736a5a9776fc0e8e8529cd6a97effd981fd5a14ec40133f909f9e"
  },
  "id": "xvR3HufLLIfpNyXx",
  "tags": []
}